body {
    background: powderblue;
    font-family: Poppins, sans-serif;
}
/* div {border: 1px solid black;} */

#title {font-size: xxx-large;}

#main {
    text-align: center;
    padding: 20px;
}

#items-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px 20px;
    padding: 20px;
    margin-bottom: 50px;
}
#items-box > div {
    display: flex;
    flex-direction: column;
}

img {
    /* max-width: 190px;
    min-height: 275px; */
    width: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

#cart-and-form {
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

/* Cart and form container */
#cart-and-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* 
    Cart 
*/
#cart {
    display: flex;
    align-items: center;
}
#cart > div {margin: 15px;}

#cart-items {
    border: 1px solid white;
    display: flex;
    padding: 10px;
    height: 190px;
    min-width: 200px;
    max-width: 310px;
    overflow: overlay;
    flex-flow: row wrap;
}
#cart-items > div {margin: 5px;}

.cart-img-container {
    height: 75px;
    width: min-content;
    text-align: right;

}
#cart-items img {
    width: auto;
    max-height: 70px;
    /* position: absolute; */
}

.dot{
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: rgb(134, 25, 25);
    position: relative;
    bottom: 90px;
}

/* 
    Form 
*/
#input-box > div {
    display: grid;
    gap: 5px 0;
    padding: 5px;  
    font-size: larger;
    font-weight: bolder;
}
form {
    border: 1px solid white;
    padding: 10px;
}

form input {
    border: 1px solid white;
    background: none;
    border-radius: 5px;
    font-size: 21px;
    padding: 4px 5px;
    transition: box-shadow 0.2s;
}
form input:focus {border-color: orange;}
form input:hover {box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);}

.button {
    background-color: rgb(28, 112, 221);
    color: white;
    border: none;
    margin-top: 5px;
    font-family: inherit;
    padding: 9px 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity 0.15s;
    vertical-align: top;
}
.button:hover {
    opacity: 0.8;
}
.button:active {
    opacity: 0.5;
}
.green-btn {
    padding: 10px 30px;
    font-size: large;
    background-color: rgb(10, 119, 55);
}
#submit-btn {
    visibility: hidden;
}

/* 
   Styles for Data Table used in display.php 
*/

table, th, td {
    border: 1px solid black;
    align-items: center;
    padding: 10px 15px;
    text-align: left;
    border-collapse: collapse;
    /* width: 50%; */
    font-family: 'Poppins', sans-serif;
}
table {width: 70%;}
thead {background-color: lavender;}
tbody {background-color: rgba(0, 0, 0, 0.3);}
.name-cell {width: 150px;}
.email-cell {width: 200px;}


/* Using grid container */
#table-grid div {
    border: 1px solid black;
}